* {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            scroll-behavior: smooth;
        }



        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            color: #333;
            background-image: url('https://wallpapers.com/images/featured/red-dead-redemption-2-4k-hfflcebr57by8t8c.jpg');
            background-repeat: no-repeat;
            background-position: center;
            background-attachment: fixed;
        }

        .container {
            width: 80%;
            margin: 0 auto;
        }

        header {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
        }

        header h1 {
            text-align: center;
            font-size: 3em;
        }

        header img {
            size: 20px;
            display: flex;
            justify-content: center;
            margin: 10px auto;
        }

        nav ul {
            list-style: none;
            display: flex;
            justify-content: center;
            padding: 10px 0;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            font-size: 1.2em;
        }

        nav ul li a:hover {
            text-decoration: underline;
        }

        section {
            padding: 40px 0;
            text-align: center;
        }

        section h2 {
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        section p {
            font-size: 1.2em;
            margin-bottom: 20px;
        }

        section img {
            max-width: 100%;
            height: auto;
        }

        footer {
            background-color: #000;
            color: #fff;
            padding: 20px 0;
            text-align: center;
        }

        main {
            max-width: 1000px;
            min-width: 300px;
            background-color: white;
            margin: auto;
            padding: 20px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.432);
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            margin-bottom: 20px;
        }

        #mapareddead {
            width: 660px;
            height: 415px;
        }

        #fontTopicos {
            font-size: 3em;
        }

        #fontTopicos2 {
            font-size: 1.5em;
        }

        #adquirirJogo {
            text-align: center;
            font-size: 2em;
            margin-top: 20px;
            color: #333;
        }

        #imgJogo {
            max-width: 550px;
            height: auto;
            display: block;
            margin: 0 auto;
        }

        #btn {
            display: block;
            width: 200px;
            height: 50px;
            background-color: #ff0000;
            color: white;
            border: none;
            border-radius: 5px;
            font-size: 1.2em;
            cursor: pointer;
            margin: 20px auto;
            transition: all 0.3s ease;
        }

        #btn:hover {
            background-color: #d10000;
            box-shadow: 0 5px 15px rgba(63, 0, 0, 0.5);
            transform: translateY(-2px);
        }



        @media (max-width: 600px) {
            #RD2 {
                width: 100%;
            }

            #iframe1 {
                width: 100%;
                height: 300px;
            }

            #mapareddead {
                width: 100%;
                height: 300px;
            }

            nav ul {
                flex-direction: column;
                align-items: center;
                gap: 10px;
            }

            #JogoRD2 {
                width: 100%;
            }

            #imgJogo {
                width: 94%;
                max-width: 550px;
            }

            #btn {
                width: 60%;
                min-width: 100px;
                font-size: 1em;
            }

            #btn:active {
                outline: none;
                background-color: #130101;
                border-color: #6b0303;
                box-shadow: 0 5 15px #ff0000;
            }
        }